# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.next
out

# production
/build
.vercel
.netlify

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files — KESINLIKLE GIT'E EKLEME!
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo
next-env.d.ts

# bundle analyzer
.analyze
